HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/uploads/CàrregaMassivaEstudiants.csv
/uploads/CàrregaMassivaEstudiants (1).csv
/uploads/Captura.JPG
/uploads/CàrregaMassivaEstudiants (1) (1).csv
/uploads/CàrregaMassivaEstudiants (2).csv
/uploads/CàrregaMassivaEstudiants (3).csv
/uploads/CàrregaMassivaEstudiants (3) (1).csv
/uploads/CàrregaMassivaEstudiants (3) (3).csv
/uploads/CàrregaMassivaEstudiants (3) (3) (1).csv
/uploads/products (1).sql
